<div class="login">
    <div class="header">
        <div>
            <img src="./assets/images/logo.png" (click)="goWebsite()">
        </div>
        <div>
            <span>{{'title' | translate}}</span>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="title">{{'title' | translate}}</div>
            <form [formGroup]="formModel" class="form">
                <div>
                    <input type="text" class="input-control" formControlName="email" placeholder="inputUsername"
                        autocomplete=" off">
                </div>
                <div>
                    <input type="text" class="input-control" [ngClass]="{'password': passwordFlag}"
                        formControlName="password" placeholder="inputPassword" autocomplete="off">
                    <div class="passwordImage" (click)="changePasswordFlag()">
                        <img [src]="passwordImage">
                    </div>
                </div>
                <div>
                    <div class="btn" (click)="login()">login</div>
                </div>
            </form>
            <div class="save-username">
                <!--
                <input type="checkbox" [(ngModel)]="saveUsername">
                -->
                login_save_username
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            copyright
            <!--
            {{'copyright' | translate}} {{'put_on_record' | translate}} ( {{'version' | translate}}: {{version.version}}
            )
            -->
        </div>
        <div>
            <div>
                <img class="logo" src="./assets/images/wechat.jpg">
                <div>'follow_wechat_public_account' </div>
            </div>
            <div>
                <img class="logo" src="./assets/images/app.jpg">
                <div>'download'</div>
            </div>
        </div>
    </div>
</div>