<div class="login">
    <div class="header">
        <div>
            <img src="./assets/images/idcard-logo2-512.jpeg" (click)="goWebsite()">
        </div>
        <div>
            <span>{{'title' | translate}}</span>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="title">{{'welcome_login' | translate}}</div>
            <form [formGroup]="formModel" class="form">
                <div>
                    <input type="text" class="input-control" formControlName="email"
                        placeholder="{{'input_username' | translate}} " autocomplete=" off">
                </div>
                <div>
                    <input type="text" class="input-control" [ngClass]="{'password': passwordFlag}"
                        formControlName="password" placeholder="{{'input_password' | translate}}" autocomplete="off">
                    <div class="passwordImage" (click)="changePasswordFlag()">
                        <img [src]="passwordImage">
                    </div>
                </div>
                <div>
                    <div class="btn" (click)="login()">{{'login'|translate}}</div>
                </div>
            </form>
            <div class="save-username">
                <!--
                <input type="checkbox" [(ngModel)]="saveUsername">
                -->

            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            {{'copyright' | translate}} {{'company' | translate}} ( {{'version' | translate}}: {{version.version}}
            )

        </div>
        <div>

            <div>
                <img class="logo" src="./assets/images/download_link.png">
                <div>{{'download' | translate}}</div>
            </div>
        </div>
    </div>
</div>