.activity-name-input {
    word-break: break-all;
}


.header-button-div {
    width:200px;
}

.header-button {
    float:right;
}

.height-200 {
    height: 150px;
}

.mat-card {
    margin: 10px;
}

/*
#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}
*/